{% load my_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Menu</title>
    <link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <script
            src="https://code.jquery.com/jquery-3.6.4.js"
            integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
            crossorigin="anonymous"></script>
    <script src="{% static 'js/menu.js' %}"></script>
</head>
<body>
<nav>
    {% draw_menu 'Main Menu' %}
</nav>
</body>
</html>